
body{
    background-color: #171717;
}
.menu{
    width: 300.80126953125px;
    height: 982px;
    top: 1px;
    border: 2px;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    line-height: 3;
}
.section-1{
    position:absolute;
    top:100px;
    left:20px;
    
}
.img1{
    position: absolute;
    height: 50px;
    width: 150px;
    left: 30px;
    top:30px
}
.img2{
    width:20px;
    margin-right:18px;
    margin-left: 14px;
}
.set:hover{
    background-color:#282828;
    margin: 5px;
    width:280px;
    cursor: pointer;
}
.section-2{
    position: absolute;
    top:270px;
    left:20px;
}
